*
!.gitattributes
!.gitignore
!*.bib
!*.bst
!*.clo
!*.cls
!*.dot
!*.latexmain
!*.ova
!*.py
!*.sty
!*.tex
!*.tikz
!tex/
!bib/
!bib/**/
!img/
!img/**/
!code/
!code/**/
!pdf/
!pdf/*.pdf
!syllabus/
!syllabus/*.md
!syllabus/*.pdf
!build/
!build/**/
!vm/
!vm/**/
